{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SnapURL</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<body>
    <div class="container">
        <h1>SnapURL</h1>
        
        <form method="post" class="url-form">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn">Shorten URL</button>
        </form>

        {% if short_url %}
            <div class="result">
                <p>Your Shortened URL:</p>
                <input type="text" id="shortened-url" value="{{ request.build_absolute_uri }}{{ short_url.short_code }}" readonly>
                <button class="copy-btn" id="copy-btn" onclick="copyToClipboard()">Copy</button>

            </div>
        {% endif %}


        <h2>Your Shortened URLs</h2>

        <div class="table-container">
            <table>
                <tr>
                    <th>Short Code</th>
                    <th>Original URL</th>
                    <th>Created At</th>
                    <th>Clicks</th>
                    <th>Last Clicked</th>
                    <th>Delete</th>
                </tr>
                {% for url in urls %}
                <tr>
                    <td><a href="/{{ url.short_code }}/" target="_blank">{{ url.short_code }}</a></td>
                    <td title="{{ url.original_url }}">
                        <a href="{{ url.original_url }}" target="_blank">{{ url.original_url }}</a>
                    </td>
                    <td>{{ url.created_at }}</td>
                    <td>{{ url.click_count }}</td>
                    <td>{{ url.last_clicked|default:"Never" }}</td>
                    <td>
                        <form method="post" action="{% url 'delete_url' url.short_code %}">
                            {% csrf_token %}
                            <button class="delete-btn">✖</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <script src="{% static 'script.js' %}"></script>
</body>
</html>





